
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script> 
  </head>
  <body>
    <link rel="stylesheet" href="/chatroom-style.css">
    <form id="userForm">
      <div class="form-group">
        <label>Enter Username:</label>
        <textarea class="form-control" id="username" required></textarea>
        <label>Enter Room Name:</label>
        <textarea class="form-control" id="roomName" required></textarea>
      </div>
      <br />
      <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
    
    <div class="videoContainer" id="videoContainer">

      <div id = "banner">
        <h3>
          Welcome <br>
          Room & Site Information <br>
          Room Name: 
        </h3>
        <h3 id="roomDisplay">
          
        </h3>
      </div>
      <div id="userList">
        <h3>
          Online Users
        </h3>
        <div id="users-container">
          <ul class="list-group" id="users">
          </ul>
          <input type="submit" class="btn btn-primary" value="Clear Users" id="btnUserClear" />
        </div>
      </div>
        <div class="videoBorder" id = "otherVideo">
          <!-- <img id="otherUserStream" style="width:100%;" src="https://cdn.pixabay.com/photo/2017/08/04/05/37/coming-soon-2579123_960_720.jpg"> -->
          <!--<video id="otherUserStream" autoplay></video> -->
        </div>
      <div id="chatBox">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <div class="chat" id="chat">
                <form id="messageForm">
                  <div class="form-group">
                    <label>Enter Message</label>
                    <textarea class="form-control" id="message"></textarea>
                  </div>
                  <br />
                  <input type="submit" class="btn btn-primary" value="Send Message" />
                </form>
                <div id="chatLog">
                </div>
              </div>
            </div>
            <div class="col-md-2">
            </div>
          </div>
        </div>
      </div>
    
      <div>
        <video id="myStream" autoplay></video>
      </div>
    </div>
     <!-- <script type="text/javascript" src="/getUserMedia.js"></script> -->
    <script>
      $('#btnUserClear').click(function(e){
        e.preventDefault();
        $('#users-container').children().empty();
      });
    </script>
    <script>
      $(function(){
        const socket = io.connect();
        const $messageForm = $('#messageForm');
        const $message = $('#message');
        const $userForm = $('#userForm');
        const $user = $('#username');
        const $room = $('#roomName');
        const $userList = $('#users');
        const $chat = $('#chat');
        const $chatLog= $('#chatLog');
        const $roomDisplay = $('#roomDisplay');
        let myUsername = '';
        let users = [];
        
        
        $messageForm.submit(function(e){
          e.preventDefault();
          if($message.val() !== ''){
            socket.emit('send message', {message: $message.val(), username: myUsername, room: $room.val()});
            $message.val('');
          }
        });
        
        //Send a message with enter.
        $message.keypress(function (event){
          if(event.which == 13){
            $messageForm.click();
//            $message.val('');
          };
        });
        
        $userForm.submit(function(e){
          e.preventDefault();
          myUsername = $user.val();
          myRoomname = $room.val();
          if($user.val !== ''){
            //socket.emit('send new user', myUsername);
            socket.emit('enter room', {room: myRoomname, username: myUsername});
            $roomDisplay.text(myRoomname); //!!! Change this into a separate event, for validating room isn't full
            $userForm.hide();
            document.getElementById('videoContainer').style.visibility = "visible";
          }
        });
        
        socket.on('new message', function(data){
          const newChild = '<div class="well">' + data.username+ ": " + data.message + '</div>';
          $chatLog.prepend(newChild);
        });
        
        socket.on('reconnect', function(attemptNumber) {
          console.log("Reconnecting to server...");
          socket.emit('enter room', {room: myRoomname, username: myUsername});
        });
        
        socket.on('userList update', function(userList){
          users = [];
          
          //empty our <ul> of previous list
          $('#users-container').children().empty();
          //we then fill that <ul> with our updated user list <li> items
          for(var user in userList.users){
            if(userList.users[user].room == myRoomname){   //!!!change this to filter if possible, prior to entering loop. Or change server-side before sending
              console.log(userList.users[user].username);
              $userList.append("<li class='tempLi'>" + userList.users[user].username + "</li>");
            }
          }
          $userList.childNodes = users;
        });
      });
    </script>
  </body>
</html>